[Desktop Entry]
Type=Application
Version=1.0
Name=Sched-ext Tool
GenericName=Sched-ext Tool
Comment=Manage sched-ext BPF CPU schedulers
Exec=scx-tool
Icon=cpu
Terminal=false
Categories=System;Settings;Qt;
Keywords=kernel;scheduler;scx;sched-ext;bpf;performance;cpu;
StartupNotify=true
